@charset "UTF-8";
ul{
    list-style-type: none;
    padding-left: 0;
}
li{
    width: 250px;
    margin: 0 0 5px 0;
    color: white;
}
li.odd{
    background-color: rgb(0, 127, 127);
}
li.even{
    background-color: rgb(0, 0, 127);
}